body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #dbf5f5;
    color: #000000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
  }