body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para que el footer permanezca en la parte inferior */
}
  
header {
  background-color: #acd9eb;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
  }

  .contacto {
    margin-top: 30px;
    background-color: #76e6cd;
    padding: 20px;
  }
  
  .contacto h2 {
    color: #333;
  }
  
  .contacto-info {
    display: flex;
    flex-direction: column;
  }
  
  .contacto p {
    margin: 5px 0;
  }

  .introduccion {
    background-color: #8a89eb;
    padding: 20px;
  }
  
  .introduccion h2 {
    color: #333;
  }
  
  .introduccion p {
    margin: 5px 0;
  }

  .estudios {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .estudios h2 {
    color: #333;
  }
  
  .estudios p {
    margin: 5px 0;
  }

  .experiencia {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .experiencia h2 {
    color: #333;
  }
  
  .experiencia p {
    margin: 5px 0;
  }

  .hobbies {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .hobbies h2 {
    color: #333;
  }
  
  .hobbies ul {
    list-style-type: none;
    padding: 0;
  }
  
  .hobbies li {
    margin: 5px 0;
  }

  footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }