body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #dbf5f5;
    color: #000000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  h1 {
    font-size: 2rem;
    margin: 0;
  }

  .contacto {
    margin-top: 30px;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .contacto h2 {
    color: #333;
  }
  
  .contacto-info {
    display: flex;
    flex-direction: column;
  }
  
  .contacto p {
    margin: 5px 0;
  }

  .introduccion {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .introduccion h2 {
    color: #333;
  }
  
  .introduccion p {
    margin: 5px 0;
  }

  .estudios {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .estudios h2 {
    color: #333;
  }
  
  .estudios p {
    margin: 5px 0;
  }